@model IEnumerable<BLL.Models.FileModel>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>
@using (Html.BeginForm("SearchByName", "File", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <span>Enter file name: </span>
        <input type="text" id="name" name="name">

        <input type="submit" value="Search" />

    </div>
    <br />
}
@if (Model != null && Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Size) b
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
        </td>
        <td>
            @Html.ActionLink("Download", "Download", "File", new { id = item.Id }, null) |
            @Html.ActionLink("Edit", "Edit", "File", new { id = item.Id }, null) |
            @Html.ActionLink("Details", "Details", "File", new { id = item.Id }, null) |
            @Ajax.ActionLink("Delete", "Delete", "File", new { id = item.Id }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "window.location.reload()" }, new { onclick = "return confirm('Are you sure you wish to delete?');" })
        </td>
    </tr>
        }

    </table>
}
else
{
    <h3>No files were found</h3>
}
